* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion {
  width: 400px;
  height: max-content;
}

.accordionHeader {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: blueviolet;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.accordionBody {
  width: 100%;
  height: 0;
  padding: 0 15px;
  overflow: hidden;
  border: 1px solid blueviolet;
  border-top: none;
  transition: height 0.3s ease, padding 0.3s ease;
}

.accordionBody-open {
  height: max-content;
  padding: 15px;
}
