button {
  padding: 5px 10px;
}

#split_btn_container {
  position: relative;
  width: max-content;
}

#dropdown_container {
  position: absolute;
  z-index: 10;
  top: 120%;
  left: 50%;
  width: 150%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dropdown_container ul {
  list-style: none;
}

#dropdown_container ul li {
  height: 30px;
  cursor: pointer;
}
