* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.image-js {
  width: 90%;
  height: 90vh;
  background-color: lightgray;
}
