* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  position: relative;
}

.menu_content {
  position: absolute;
  list-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin: 0px;
  width: 80px;
  height: max-content;
  max-height: 120px;
  overflow-y: auto;
}

.menu_item {
  padding: 5px;
  cursor: default;
}

.menu_item-focused,
.menu_item:hover {
  background-color: lightgray;
}
