.menu {
  position: relative;
  height: max-content;
}

.menu_list {
  position: absolute;
  width: 100px;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style: none;
}

.menu_item {
  height: 30px;
  cursor: default;
}

.menu_item:hover,
.menu_item-active {
  background-color: lightgrey;
}
